<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
    <link rel="stylesheet" href="/static/css/movie_style.css">
</head>
<body>
    <div class="windowD">
        <div class="mainD">
            <div class="mainVD">
                <button type="button" class="mainVideo"><img data-id={{ids[0]}} src={{thumbnails[0]}}></button>
            </div>
            <h2>sample</h2>
        </div>

        <div class="subD" style="text-align:right">
            <h3 text-al>関連動画</h3>
            <div class="subVD">
                <button type="button" id="subVideo1"><img width="208" height="117" src="https://i.ytimg.com/vi/B2XelKaZ8zc/hqdefault.jpg"></button>
            </div>
            <h4>sample</h4>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).on("click", ".mainVideo", function () {
            var id = $(".mainVideo > img:nth-child(1)").data("id");
            get_url(id).done(function (data, status, xhr) {
                console.log(data)
                $(".mainVD").html(`<iframe class=\"mainVideo\" src=${data}></iframe>`)
            })
        });
        function get_url(id) {
            return $.ajax({
                url: "/find_url_by_id/" + id,
                method: "GET"
            })
        }
    </script>
</body>
</html>