<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
    <link rel="stylesheet" href="/static/css/movie_style.css">
</head>
<body>
<div class="windowD">
    <div class="mainD">
        <div class="mainVD">
            <iframe height="" class="mainVideo" src={{links[0]}} width=""></iframe>
        </div>
        <h2>sample</h2>
    </div>

    <div class="subD" style="text-align:right">
        <h3 text-al>関連動画</h3>
        <div class="subVD">
            <iframe width="208" height="117" id="subVideo" src={{links[1]}}></iframe>
        </div>
        <h4>sample</h4>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>
</html>