<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/register" method="post">
        <p>User Name<br>
        <input type="text" name="user_name"></p>
        <p>Password<br>
        <input type="text" name="password"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{{url_for('static', filename='/js/register.js')}}"></script>
</html>