<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <title>YouTube Direct Link Getter</title>
</head>
<body>
    <form action="/search" method="post">
        <p>検索ワード：<br>
        <input type="text" name="keyword"></p>
        <p><input type="submit" value="Search!"></p>
    </form>
    <form action="/logout_manager" method="post">
        <p>Logout</p>
        <p><input type="submit" value="Logout"></p>
    </form>
</body>
</html>