<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <title>YouTube Direct Link Watcher</title>
</head>
<body>
    <h1>You can avoid the fu*kin' proxy for watching YouTube</h1>
    <form action="/search" method="post">
        <p>Search query<br>
        <input type="text" name="keyword"></p>
        <p><input type="submit" value="Search!"></p>
    </form>
    <form action="/logout_manager" method="post">
        <p>Logout</p>
        <p><input type="submit" value="Logout"></p>
    </form>
</body>
</html>